In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("weather_data_handle_missing2.csv")
df

        day temperature windspeed  event
0  1/1/2017        32C9     6 mph   Rain
1  1/2/2017      -99999      7mph  Sunny
2  1/3/2017        28 F    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017         32K    -88888   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [ ]:
#Replace Special Values
df.replace([-99999,-88888,'0'],np.NaN)

In [ ]:
#Replace Special Values we can also use Dictionary Method1
df.replace({
    'temperature':-99999,
    'windspeed':[-88888,-99999],
    'event':'0',
},np.NaN)

In [ ]:
#Replace Special Values we can also use Dictionary Method2
df.replace({
    -99999:np.NaN,
    -88888:np.NaN,
    '0':np.NaN,
})

In [ ]:
#Remove Alphabets with blank
df=pd.read_csv("weather_data_handle_missing2.csv")
df.replace('[A-Za-z]','',regex=True)
#Dictionary Method can also be used to ignore certian columns
df.replace({
    'temperature':"[A-Za-z]",
    'windspeed':"[A-Za-z]",
},'',regex=True)

Map Method Replace Multiple Values

In [4]:
df = pd.DataFrame({
    'score': ['exceptional', 'average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
print(df)
df.replace(['poor', 'average', 'good', 'exceptional'], [1, 2, 3, 4])

         score  student
0  exceptional      rob
1      average     maya
2         good  parthiv
3         poor      tom
4      average   julian
5  exceptional    erica

   score  student
0      4      rob
1      2     maya
2      3  parthiv
3      1      tom
4      2   julian
5      4    erica